# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# vscode
.vscode/

#plotTS created
debug.log
presets.ini
exampledata.csv
save_example.html

#development files
plotTS_development.ipynb
plotTS_development_dropDataWithIssues.ipynb
plotTS_exampledata_development.ipynb
plotTS_timeconvert_development.ipynb
testdata.csv
exampledata_dev.csv
testdata_with_issues.csv
testdata_without_issues.csv
